---
import "../style/index.scss";
import PersonHeader from "../components/PersonHeader.astro";
import Page from "../layouts/Page.astro";
import {
    siDiscord,
    siGithub,
    siSteam,
    siJavascript,
    siSvelte,
    siTypescript,
    siBun,
    siNodedotjs,
    siBluesky,
    siLastdotfm,
    siSteamdeck,
    siMastodon,
} from "simple-icons";
import IconList from "../components/IconList.astro";
import OrnamentLayer from "../components/lanyard/OrnamentLayer.astro";
import SpotifyPlayer from "../components/SpotifyPlayer.astro";
---

<Page
    title="Wii's Site"
    description="hi this is my shitty website"
    meta={[
        {
            name: "og:image",
            content: "/pfp/pfp.webp",
        },
    ]}
>
    <PersonHeader
        socials={[
            {
                url: "https://bsky.app/profile/thewiilover.my",
                icon: siBluesky.svg,
                color: "#" + siBluesky.hex,
            },
            {
                url: "https://discord.com/users/768583702283288597",
                icon: siDiscord.svg,
                color: "#" + siDiscord.hex,
            },
            {
                url: "https://github.com/thewiilover",
                icon: siGithub.svg,
            },
            {
                url: "https://steamcommunity.com/id/video0dotmov",
                icon: siSteam.svg,
                color: "#" + siSteamdeck.hex,
            },
            {
                url: "https://last.fm/user/thewiilover",
                icon: siLastdotfm.svg,
                color: "#" + siLastdotfm.hex,
            },
            {
                url: "https://mastodon.social/@thewiilover",
                icon: siMastodon.svg,
                color: "#" + siMastodon.hex,
            },
        ]}
    >
        <Fragment slot="pfp">
            <!--
                <Picture src={pfp} formats={['avif', 'webp']} alt="Mahiro Oyama" loading="eager" />
            -->
            <picture>
                <source
                    srcset="https://cdn.discordapp.com/avatars/768583702283288597/5f033678d88e82b69035bff457cb00d4.webp?size=80"
                    type="image/webp"
                />
                <img
                    id="pfp"
                    src="https://cdn.discordapp.com/avatars/768583702283288597/5f033678d88e82b69035bff457cb00d4.webp?size=80"
                    width="256"
                    height="256"
                    alt="thewiilover's pfp"
                />
                <OrnamentLayer />
                <script is:inline>
                    fetch("https://avatars.split.pet/user/split/json")
                        .then((d) => d.json())
                        .then(
                            ({ altText }) =>
                                (document.getElementById("pfp").alt = altText),
                        );
                </script>
            </picture>
        </Fragment>

        <Fragment slot="title">
            hi, i'm Wii <span
                style="color:var(--c-subtext2); font-weight: normal; font-size: large;"
                >(thewiilover)</span
            >
        </Fragment>

        <Fragment slot="description">
            he; absolutely terrible developer
        </Fragment>
    </PersonHeader>

    <section class="significant">
        <!-- Add Spotify Player at the top of the significant section -->
        <h2 class="sectionDenoter" id="now-playing">Now Playing</h2>
        <SpotifyPlayer />

        <div style="height:10px;"></div>
        <h2 class="sectionDenoter" id="stuffidontknow">
            Stuff I want to learn<br /><small
                style="color: var(--c-subtext2); font-weight: 500; text-transform: none;"
                >(or am learning)</small
            >
        </h2>
        <IconList
            list={[
                {
                    url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
                    icon: siJavascript.svg,
                    color: "#" + siJavascript.hex,
                },
                {
                    url: "https://typescriptlang.org",
                    icon: siTypescript.svg,
                    color: "#" + siTypescript.hex,
                },
                {
                    url: "https://nodejs.org",
                    icon: siNodedotjs.svg,
                    color: "#" + siNodedotjs.hex,
                },
                {
                    url: "https://bun.sh",
                    icon: siBun.svg,
                },
                {
                    url: "https://svelte.dev",
                    icon: siSvelte.svg,
                    color: "#" + siSvelte.hex,
                },
            ]}
        />
        <div style="height:10px;"></div>
        <h2 class="sectionDenoter" id="not-notable-stuff">
            Not-so-notable stuff
        </h2>
        <p>
            <a href="https://thewiilover.click">random website i made</a>,
            <a href="https://personal.thewiilover.my/new.html"
                >the og about me</a
            >
            <!-- <small>
                <a href="https://avatars.split.pet/user/split/source"
                    >My profile picture is sourced from here.</a
                ><br />
                video0.mov if the discord link doesn't work for you<br />
            </small> -->
        </p>
    </section>
</Page>
