---
import "../style/index.scss";
import PersonHeader from "../components/PersonHeader.astro";
import Page from "../layouts/Page.astro";
import {
    siDiscord,
    siGithub,
    siSteam,
    siJavascript,
    siSvelte,
    siAstro,
    siArchlinux,
    siTypescript,
    siBun,
    siNodedotjs,
    siBluesky,
    siLastdotfm,
    siSteamdeck,
} from "simple-icons";
import Posts from "../components/Posts.astro";
import IconList from "../components/IconList.astro";
import Buttons from "../components/buttons/Buttons.astro";
import BtnFx from "../components/buttons/BtnFx.astro";
import OrnamentLayer from "../components/lanyard/OrnamentLayer.astro";

---

<Page
    title="Wii's Site"
    description="hi this is my shitty website"
    meta={[{ name: "og:image", content: "/pfp/mahiropfp_butwithart.png" }]}
>
    <PersonHeader
        socials={[
            {
                url: "https://bsky.app/profile/thewiilover.my",
                icon: siBluesky.svg,
                color: "#" + siBluesky.hex,
            },
            {
                url: "https://discord.com/users/768583702283288597",
                icon: siDiscord.svg,
                color: "#" + siDiscord.hex,
            },
            {
                url: "https://github.com/thewiilover",
                icon: siGithub.svg,
            },
            {
                url: "https://steamcommunity.com/id/video0dotmov",
                icon: siSteam.svg,
                color: "#" + siSteamdeck.hex,
            },
            {
                url: "https://last.fm/user/thewiilover",
                icon: siLastdotfm.svg,
                color: "#" + siLastdotfm.hex,
            },
        ]}
    >
        <Fragment slot="pfp">
            <!--
                <Picture src={pfp} formats={['avif', 'webp']} alt="Mahiro Oyama" loading="eager" />
            -->
<picture>
    <source
        srcset="https://cdn.discordapp.com/avatars/768583702283288597/5f033678d88e82b69035bff457cb00d4.webp?size=80"
        type="image/webp"
    />
    <img
        id="pfp"
        src="https://cdn.discordapp.com/avatars/768583702283288597/5f033678d88e82b69035bff457cb00d4.webp?size=80"
        width="256"
        height="256"
        alt="thewiilover's pfp"
    />
    <OrnamentLayer />
    <script is:inline>
        fetch("https://avatars.split.pet/user/split/json")
            .then((d) => d.json())
            .then(
                ({ altText }) =>
                    (document.getElementById("pfp").alt = altText),
            );

        // Detect Spotify activity and update image
        const updateSpotifyImage = () => {
            const activity = { /* place your Spotify activity detection logic here */ };
            if (activity && activity.name === "Spotify") {
                const imageUrl = `https://media.discordapp.net/${activity.assets.large_image.replace("mp:", "")}`;
                document.getElementById("pfp").src = imageUrl;
            }
        };

        // Call updateSpotifyImage when Spotify is detected
        updateSpotifyImage();
    </script>
</picture>
       </Fragment>

        <Fragment slot="title">
            hi, i'm Wii <span
                style="color:var(--c-subtext2); font-weight: normal; font-size: large;"
                >(thewiilover)</span
            >
        </Fragment>

        <Fragment slot="description"> he; absolutely terrible developer </Fragment>
    </PersonHeader>

    <section class="significant">
        <!-- <h2 class="sectionDenoter" id="stuffiknow">stuff i use</h2>
        <IconList
            list={[
                {
                    url: "https://archlinux.org",
                    icon: siArchlinux.svg,
                    color: "#" + siArchlinux.hex,
                },
            ]}
        /> 
        <div style="height:10px;"></div>
        <IconList
            list={[
                {
                    url: "https://astro.build",
                    icon: siAstro.svg,
                    color: "#" + siAstro.hex,
                },
            ]}
        /> -->
        <div style="height:10px;"></div>
        <h2 class="sectionDenoter" id="stuffidontknow">
            Stuff I want to learn<br /><small
                style="color: var(--c-subtext2); font-weight: 500; text-transform: none;"
                >(or am learning)</small
            >
        </h2>
        <IconList
            list={[
                {
                    url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
                    icon: siJavascript.svg,
                    color: "#" + siJavascript.hex,
                },
                {
                    url: "https://typescriptlang.org",
                    icon: siTypescript.svg,
                    color: "#" + siTypescript.hex,
                },
                {
                    url: "https://nodejs.org",
                    icon: siNodedotjs.svg,
                    color: "#" + siNodedotjs.hex,
                },
                { 
                    url: "https://bun.sh", 
                    icon: siBun.svg 
                },
                {
                    url: "https://svelte.dev",
                    icon: siSvelte.svg,
                    color: "#" + siSvelte.hex,
                },
            ]}
        />
        <div style="height:10px;"></div>
        <h2 class="sectionDenoter" id="not-notable-stuff">
            Not-so-notable stuff
        </h2>
        <p>
            <a href="https://thewiilover.click">random website i made</a>,
            <a href="https://personal.thewiilover.my/new.html">the og about me</a>
           <!-- <small>
                <a href="https://avatars.split.pet/user/split/source"
                    >My profile picture is sourced from here.</a
                ><br />
                video0.mov if the discord link doesn't work for you<br />
            </small> -->
        </p>
    </section>
    <!--
    <section class="insignificant">
        <h2 class="sectionDenoter">More about me</h2>
        <Posts display={["postList", ["introduction"]]} />
        <br>
    </section>
-->
    <!--<section id="posts" class="insignificant">
        <h2 class="sectionDenoter">Posts</h2>
        <Posts display={["postCount", 3]} />
        <p style="text-align: right;"><a href="/blog">See all posts</a></p>
    </section>

    <section id="buttons" class="insignificant">
        <h2 class="sectionDenoter">Buttons</h2>
        <Buttons />
        <BtnFx />
        <br />
    </section> -->


</Page>
